@import url('https://fonts.cdnfonts.com/css/archia');

h1, * {
    text-decoration: bold;
    text-align: center;
    font-family: 'Archia', 'sans-serif';
}

body {
  margin: 0 auto;
  background-image: url('bg-image.jpeg');
  background-size: cover;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;   
}

@keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }

h1 {
  font-size: 1vw;
  text-transform: uppercase;
  user-select: none;
}

.leaderboard-div {
  margin-left: 8px;
  margin-right: 8px;
}

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-size: 0.7vw;
  }

  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    user-select: none;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  th {
    text-align: center;
    background: white;
  }

  td {
    text-align: center;
  }

  tr {
    background-color: silver;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
 
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-row label {
    margin-bottom: 5px;
}

.input-row input {
    flex: 1;
    flex-basis: 20%;
    text-align: center;
    font-size: 0.75vw;
}

.input-row input[type="number"]::-webkit-inner-spin-button,
.input-row input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-row input[type="number"] {
    -moz-appearance: textfield;
}

.button-row {
    margin-top: 10px;
    margin-bottom: 1vh;
}

#add-new-player-btn {
  padding: 0.5vh 0.5vh;
  background-color: #21B573;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.6vw;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 0.4vw;
  margin-bottom: 1.5vw;
  border-radius: 10px;
}

#add-new-player-btn:hover {
  background-color: #197e50;
}

.textLabel {
  font-size: 0.8vw;
  text-decoration: underline;
}

.win-btn, .lose-btn, .delete-btn {
  font-size: 0.5vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  

.neon {
  color: #eeeded;
  text-shadow:
    0 0 5px #969393,
    0 0 10px #969393,
    0 0 20px #f7f5f5;
  font-size: 1.5vw;
}

.forms-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-player-form {
  max-width: 10vw;
  margin-top: 0.5vw;
  align-items: center;
}

.result-form {
  display: flex;
  align-items: center;
}

span {
  color: white;
  font-weight: 500;
}


/* Re-enable before launch */
.secret-buttons {
  /* display: none; */
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 0.25vw;
}

#load-file {
  color: white;
  display: none;
}

#save-btn {
  padding: 0.5vh 0.5vh;
  background-color: #21B573;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.6vw;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 0.4vw;
  margin-bottom: 1.5vw;
  border-radius: 10px;
}

#load-btn {
  padding: 0.5vh 0.5vh;
  background-color: #21B573;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.6vw;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 0.4vw;
  margin-bottom: 1.5vw;
  border-radius: 10px;
}

#save-btn:hover, #load-btn:hover {
  background-color: #197e50;
}






















